@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');

body {
    /* background-color: antiquewhite; */
    /* display: grid; */
    color: #323235;
    font-family: 'Playpen Sans', cursive;
}

h1 {
    text-align: center;
    /* font-family: 'Playpen Sans', cursive; */
    padding-top: 20%;
    /* padding-bottom: 10%; */
}

li {
    list-style-type: none;
    /* float: left; */
    /* margin-left: 13%;
    border-radius: 2mm;
    border-color: black;
    padding-inline-start: 3%;
    justify-content: space-around; */
    width: 100%;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid black;
    border-radius: 30px; */
    transition: 0.4s ease-in-out;
    
}

p.overview {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

#experienceh2 {
    width: 100%;
    /* padding-top: 5%; */
    /* top: 50px; */
    /* padding-top: 2%; */
    /* padding-left: 5%; */
    justify-content: center;
    display: grid;
    align-items: center;
    max-width: 900px;
    margin-right: 10%;

}


ul#headNavigator {
    width: 100%;
    display: flex;
    /* padding-left: -40rem; */
    /* align-self: center; */
    /* display: flex; */
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-evenly;
    /* border: 1px solid black; */

}

div.navigatordiv {
    width: 100%;
    display: flex;
    /* border: 1px solid rgb(40, 141, 155);
    border-radius: 30px; */
    /* margin: 0 5rem; */
    background-color: #f6f6f6;
    border-radius: 30px;
    /* justify-content: center; */
    position: fixed;
    box-shadow: 0 9px 30px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    /* z-index: 20; */
    justify-content: space-between;
    /* padding-left: auto; */
    /* padding-right: auto; */
    /* padding: 2rem 0 0 0; */
    top: 32px;
    bottom: auto;
    left: 0%;
    right: 0%;
    
}

nav {
    display: flex;
    align-items: center;
    /* align-self: center; */
    justify-content: space-evenly;
    width: 100%;
    /* background-color: #B2D4E8; */
    height: 2.125rem;
    border-radius: 10rem;
}

li a {
    width: fit-content;
    color: black;
    text-decoration: none;
}

/* a:hover{
    background-color: aliceblue;
    border: 1px solid rgb(64, 129, 195);
    border-radius: 3rem;
    width: 100%;
    margin: 0 5rem;
    padding: 1rem 8rem;
    cursor: pointer;
} */

li:hover {
    /* cursor: pointer; */
    background-color: aliceblue;
    /* border: 1px solid rgb(64, 129, 195); */
    border-radius: 1rem;
    /* width: auto; */
    /* height: 80%; */
    /* padding: 2px 2px; */
    /* padding: 1rem 8rem; */
    /* transition: 10px; */
    /* transition: 0.4s ease-in-out; */

}

h1{
    top: 50%;
}

.experiencediv{
    width: 100%;
    justify-content: center;
    display: grid;
    /* padding-left: 25rem; */
    /* padding-left: 50px;
    padding-right: 50px; */
    /* place-items: center; */
    /* place-content: center; */
    box-shadow: 0 9px 30px rgba(0, 0, 0, .1);
    margin-left: 10%;
    margin-right: auto;
    border-radius: 10px;
    padding: 2rem;
    /* justify-content: space-between; */
    max-width: 700px;
}

.experiencehead{
    display: flex;
    width: 100%;
    /* margin-right: 10%; */
    /* justify-content: center; */
    font-size: large;
    font-weight: bolder;
    
}

.contente{
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 500px;
    
}

.experience_duration{
    display: flex;
    justify-content: center;
}

.ex{
    margin-top: 2%;
    margin-bottom: auto;
    justify-content: center;
}

.Experience{
    display: flex;
    padding-top: 15%;
    padding-bottom: 15%;
}


.Qualification_details{
    display: grid;
    width: 100%;
    box-shadow: 0 9px 30px rgba(0, 0, 0, .1);
    margin-left: 15rem;
    margin-right: 10%;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    max-width: 900px;
    left: 0%;
    right: 0%;
}

.Qualification{
    display: flex;
    /* justify-content: center; */
    padding-bottom: 15%;
    
}

.Qualification_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    /* padding: 10rem; */
    padding-left: 20rem;
    /* font-weight: bolder; */
    /* font-size: large; */
}

.Qualification_details{
    display: grid;
    /* justify-content: center; */
}

.Qualification_para1{
    font-weight: bolder;
    justify-content: center;
    display: flex;
}

.Qualification_para2{
    display: flex;
    justify-content: center;
}

.Skills{
    display: flex;
    justify-content: center;
}

.Skills_head{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.Skills_Details{
    display: grid;
    width: 100%;
    box-shadow: 0 9px 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
    justify-content: center;
    margin-left: 10%;
    margin-right: auto;
    padding: 2rem;
    /* max-width: 1000px; */
}

.Skills_para{
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
}